.footer-container{
    background-color: rgb(241, 241, 241);
    padding: 3% 5% 3% 9%;
    bottom: 0;
    left: 0;
}

.footer-container img {
  padding: 7px 14px;
  width: 130px;
  margin-left: -14px;
}

.footer-container span {
    font-size: small;
}

.footer-container a {
    margin: 5px;
}

.social-col{
    margin-top: 20px;
    margin-left: 15px;
}
