.Addition-header{
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Landing-Container{
    margin-top: 10px;
}

.Upper-header{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    justify-content: center;
    align-items: center;;
}

#carousel-image{
    display: block;
    max-width:980px;
    max-height:530px;
    min-height: 301px;
    width: auto;
    height: auto;
    border-radius: 15px;
    filter: brightness(0.5);
}

.carousel {
    width:980px;
    margin: auto;
}

.carousel-caption{
    margin-bottom: 7%;
}

.carousel-caption h1{
    font-weight: bold;
}

.carousel-caption p{
    font-size: 18px;
}

.Survey-Container{
    padding: 20px;
}

.SearchBar-Container{
    padding: 15px;
    display: flex;
        justify-content: center;
        align-items: center;;
}


.Addition-Card{
    box-shadow: 10px 5px 10px rgb(235, 233, 233);
}



