#feedback-message,
#feedback-button {
    padding: 10px;
    text-align: center;
    justify-content: center;
}

#feedback-box {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 5px 5px #ccc ;
}

#feedback-container{
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 100px;
}

#feedback-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#link{
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    #feedback-container{
        margin-top: 50px;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 100px;
    }
 }