.table-header{
    text-align: center;
    vertical-align: middle;
}
.List-Table{
    max-width: 92%;
    margin-left: auto;
    margin-right: auto;
}

.Table2-Container{
        /* justify-content: center; */
        /* font-size: 10px !important; */
}

.table-container{
        width: 100%;
        /* min-width: 600px; */
        overflow-x: auto;
}

.table-survey{
        min-width: 800px;
}

/* th{
        min-width: 10% !important;
} */
#desc{
        width: 200px !important;
}

#surveyLink{
    text-decoration: none;
}

td{
    font-size: 14px !important;
    cursor: default !important;
}

td:focus{
    outline: none !important;
}

#searchBar{
    width: 350px;
}

#searchBar::after{
    margin-top: 10px;
}
