.table-header{
    text-align: center;
    vertical-align: middle;
}
.List-Table{
    max-width: 92%;
    margin-left: auto;
    margin-right: auto;
}

.table-container{
    width: 100%;
    overflow-x: auto;
}

.table-survey{
    min-width: 700px;
}

td{
    font-size: 14px !important;
    cursor: default !important;
}

td:focus{
    outline: none !important;
}


#desc{
    width: 200px !important;
}

#surveyLink{
    text-decoration: none;
}

#searchbar-form{
    width: 50%;
}

#searchbar-form-admin{
    width: 60%;
    margin-left: 38%;
}

#button-create {
    position: absolute;
    right: 0;
    margin-top: -20px;
}

@media only screen and (max-width: 768px) {
    #searchbar-form{
        width: 100%;
    }

    #searchbar-form-admin{
        margin-left: 0;
        width: 100%;
    }

    #button-create {
        position: relative;
        width: 100%;
        margin-top: 10px;
    }
 }
