$theme-colors: (
    "t-green": #5AAB4E,
    "t-yellow": #FEC32B,
    "t-blue": #00A5E1,
    "white": #FFF
);

$colors: (
    "t-green": #5AAB4E,
    "t-yellow": #FEC32B,
    "t-blue": #00A5E1
);

.form-control {
    border: 0 !important;
    border-bottom: 1px solid black !important;
    border-radius: 0 !important;
}

$enable-gradients: true !important;

.box-shadow-container {
    box-shadow: 0 .125rem .3rem rgba(#000, .2) !important;
}
/*
.question {
    border-top: 1px solid black !important;
}*/