$theme-colors: (
    "t-green": #5AAB4E,
    "t-yellow": #FEC32B,
    "t-blue": #00A5E1
);

$colors: (
    "t-green": #5AAB4E,
    "t-yellow": #FEC32B,
    "t-blue": #00A5E1
);

.form-control {
    border: 0 !important;
    border-bottom: 1px solid black !important;
}

.question {
    border-top: 1px solid black !important;
}